<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Spanish Vocab Builder</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Niramit:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="sidebar">
      <h1 class="title">Spanish Vocab Builder</h1>
    </div>
