<%- include("header") -%>

<div class="begin-box">
  <h3 class="begin-title">You don't have any words yet!</h3>
    <div id="get-started" type="submit" name="get-word-button">
      <svg height="35px" width="35px" viewbox="0 0 160 160">
    <circle cx="80" cy="80" r="70" fill="#ED863A" stroke="#84041A" stroke-width="14"/>
  <line x1="80" y1="45" x2="80" y2="115" stroke="#84041A" stroke-width="14" stroke-linecap="round"/>
  <line x1="45" y1="80" x2="115" y2="80" stroke="#84041A" stroke-width="14" stroke-linecap="round"/>
</svg>
      <span id="started">GET STARTED</span></div>
</div>

<div id="big-plus">
    <svg height="110px" width="110px" viewbox="0 0 160 160">
        <circle cx="80" cy="80" r="70" fill="#ED863A" stroke="#EDD0AE" stroke-width="14"/>
      <line x1="80" y1="45" x2="80" y2="115" stroke="#EDD0AE" stroke-width="14" stroke-linecap="round"/>
      <line x1="45" y1="80" x2="115" y2="80" stroke="#EDD0AE" stroke-width="14" stroke-linecap="round"/>
    </svg>
</div>

<div id="get-word-form">
  <div id="small-x">
    <svg height="35px" width="35px" viewbox="0 0 160 160">
      <circle cx="80" cy="80" r="70" fill="#FCC27C" stroke="#84041A" stroke-width="14"/>
      <line x1="50" y1="45" x2="110" y2="115" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
      <line x1="50" y1="115" x2="110" y2="45" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
    </svg>
  </div>
  <form id="chooseWord" action="/get-word" method="post">
    <p class="error"><%= error %></p>
    <p>Choose an English or Spanish word:</p>
    <input id="wordInput" type="text" name="wordInput" value="">
    <button id="get-word-go" type="submit" name="get-word-go">Go</button>
  </form>
</div>

<div class="logged-footer">
  <span class="footers logged-status">Logged in as <%= user %></span>
  <form class="" action="/logout" method="POST">
    <button class="footers log-out" type="submit" name="button">Log Out</button>
  </form>
</div>

<%- include("footer") -%>
