<%- include("header") -%>

  <div class="login-box" id="register-form">
    <h2 class="login-title" id="register-title">Register</h2>

    <form class="login-form" action="/register" method="post">
      <p class="registerError"><%= registerError %></p>
      <input class="form-input" id="name" type="text" name="name" placeholder="username" required>
      <input class="form-input" id="email" type="email" name="username" placeholder="email" required>
      <input class="form-input" id="password" type="password" name="password" placeholder="password" required>
      <button class="form-input" id="register-button" type="submit" name="button">Register</button>

    </form>

    <span class="already options">Already Registered?</span>
    <a class="register options" href="/login">Log In</a>

  </div>

  <style>
    @media screen and (max-width: 620px){
      .title {
        top: 0rem;
      }
      .sidebar {
      border-top: solid 30px #3D5556;
    }
    .login-title {
      font-size: 20px;
    }
    #username-email, #password, #name, #email {
    font-size: 18px;
    }
    #login-button {
    font-size: 20px;
    }
    .options {
    font-size: 19px;
    }
  }
  </style>  

<%- include("footer") -%>
