body {
  background-color: #FCC27C;
  width: 76vw;
  position: absolute;
  right: 0;
}

/* Homepage Styles */

.begin-box {
  box-sizing: border-box;
  background-color: #EDD0AE;
  border: 3px solid #ED863A;
  width: 24rem;
  margin: 6rem auto;
  text-align: center;
  padding: 3rem;
}

.begin-title {
  color: #84041A;
  font-family: 'Niramit', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  padding: 0 1rem;
  margin: 0 0 2rem 0;
}

.logged-footer {
  box-sizing: border-box;
  background-color: #8C092B;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 22vw;
  height: auto;
  padding: 1.5rem;
}

.logged-out-footer {
  box-sizing: border-box;
  background-color: #8C092B;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 22vw;
  height: auto;
  padding: 1.5rem;
  padding-top: 2rem;
}

.footers {
  display: block;
  font-size: 21px;
  line-height: 23px;
  font-family: 'Niramit', sans-serif;
  font-weight: 600;
}

.logged-status {
  color: #EDD0AE;
  margin-bottom: 15px;
}

button.footers.log-out {
    background-color: transparent;
    border: none;
    color: #FCC27C;
    position: relative;
    left: -7px;
}

button.footers.log-out:hover {
    color: #E07127;
    cursor: pointer;
}

.log-out:link {
  color: #F9BA67;
  text-decoration: none;
}

.log-out:hover {
  color: #ED863A;
}

.logged-out-status {
  color: #EDD0AE;
  margin-bottom: 5px;
}

.log-in {
  color: #F9BA67;
  text-decoration: none;
}

.log-in:hover {
  color: #ED863A;
}

#big-plus {
  position: fixed;
  left: 1.5rem;
  top: 18rem;
}

#big-plus:hover {
  cursor: pointer;
}

#get-started {
  background-color: #FCC27C;
  color: #8C092B;
  font-weight: 600;
  border: 3px solid #8C092B;
  font-size: 25px;
  font-family: 'Niramit', sans-serif;
  padding: 10px;
  transition: background-color .5s ease-in-out;
}

#get-started:hover {
  background-color: #fad09d;
}

#started {
    position: relative;
    bottom: 7px;
}

#get-started:hover {
  cursor: pointer;
}

#get-started:focus {
  outline: none;
}

/* Word Form Styles */

#get-word-form,
.wordChoices,
.confirmWord {
  position: absolute;
  z-index: 100;
  top: 8rem;
  left: 15rem;
  background-color: #ED863A;
  border: 3px solid #8C092B;
  width: 24rem;
  text-align: center;
  padding: 3rem;
  font-size: 23px;
  color: #330410;
  font-family: 'Niramit', sans-serif;
  display: none;
  margin-bottom: 10rem;
}

input[type="text"] {
    border-radius: 0;
    border: 1px solid #8C092B;
    width: 17rem;
    height: 2rem;
    font-size: 23px;
    color: #330410;
    font-family: 'Niramit', sans-serif;
    padding: 5px;
  }

  .error {
    font-weight: 700;
    color: #8C092B;
  }

  #get-word-go {
    display: block;
    background-color: #330410;
    border: none;
    margin: 3rem auto 0;
    font-family: 'Niramit', sans-serif;
    color: #FCC27C;
    font-size: 30px;
    width: 5rem;
    height: 3rem;
    font-weight: 600;
    padding-bottom: 10px;
    transition: background-color .2s ease-in-out;
  }

  #get-word-go:hover {
    background-color: #8C092B;
    cursor: pointer;
  }

#small-x,
#small-x-choice,
#small-x-confirm {
    position: absolute;
    top: -18px;
    right: -18px;
    opacity: .8;
  }

  #small-x:hover,
  #small-x-choice:hover,
  #small-x-confirm:hover {
    opacity: 1;
    cursor: pointer;
  }

.transWord,
.confirmButton {
  border: 1px solid #8C092B;
  background-color: #EDD0AE;
  border-radius: 0;
  font-weight: 500;
  font-size: 23px;
  font-family: 'Niramit', sans-serif;
  color: #330410;
  padding: 7px 15px 12px;
}

.transWord {
  margin: 5px;
}

.confirmButton {
  display: block;
  margin: 45px auto 0px;
}

.transWord:hover,
.confirmButton:hover {
  cursor: pointer;
  background-color: #8C092B;
  color: #EDD0AE;
}

.spanConfirm {
  font-size: 26px;
  font-weight: 600;
  margin: 0 10px;
}

/* Login/Register Styles */

.sidebar {
  box-sizing:border-box;
  color: #EDD0AE;
  background-color: #E07127;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 22vw;
  padding: 1rem 1.5rem;
}

.title {
  font-family: 'Amaranth', sans-serif;
  font-size: 65px;
  margin: 0;
  line-height: 75px;
}

.login-box {
  background-color: #EDD0AE;
  border: 3px solid #ED863A;
  width: 24rem;
  margin: 6rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

#register-form {
  border-color: #84041A;
}

.login-title {
  color: #EDD0AE;
  background-color: #ED863A;
  margin: 0;
  text-align: center;
  font-family: 'Niramit', sans-serif;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 5px;
}

#register-title {
  background-color: #84041A;
}

.login-form {
  margin: 2rem 3rem;
}

.form-input {
  box-sizing: border-box;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  height: 2.5rem;
}

#username-email,
#password,
#name,
#email {
  background-color: #EDD0AE;
  border: 2px solid #84041A;
  padding: 0 10px;
  font-size: 21px;
}

#username-email:focus,
#password:focus,
#name:focus,
#email:focus {
  background-color: white;
  outline: none;
}

#username-email::placeholder,
#password::placeholder,
#name::placeholder,
#email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #84041A;
  opacity: .7; /* Firefox */
}

#username-email:-ms-input-placeholder,
#password:-ms-input-placeholder,
#name::placeholder,
#email::placeholder { /* Internet Explorer 10-11 */
  color: #84041A;
  opacity: .7;
}

#username-email::-ms-input-placeholder,
#password::-ms-input-placeholder,
#name::placeholder,
#email::placeholder { /* Microsoft Edge */
  color: #84041A;
  opacity: .7;
}

#login-button {
  border-radius: 0;
  border: none;
  color: #EDD0AE;
  background-color: #84041A;
  font-size: 23px;
}

#register-button {
  border-radius: 0;
  border: none;
  color: #EDD0AE;
  background-color: #ED863A;
  font-size: 23px;
}

#login-button:hover {
  cursor: pointer;
  background-color: #ED863A;
}

#register-button:hover {
  cursor: pointer;
  background-color: #84041A;
}

.options {
  text-decoration: none;
  display: block;
  font-family: "Niramit", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.forgot-password {
  color: #ED863A;
}

.register {
  color: #C66336;
}

.forgot-password:hover,
.register:hover {
  color: #84041A;
}

.already {
  color: #84041A;
}

/* Word Boxes */

.wordset {
  border: 1px solid #84041A;
  margin: 10px;
  position: relative;
  display: inline-flex;
  padding: 4px 12px 9px;
  font-family: "Niramit", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #84041A;
  background-color: #EDD0AE;
}

.wordset:hover {
  cursor: pointer;
}

.smallXdelete {
  position: absolute;
  top: -14px;
  right: -12px;
  opacity: .8;
  z-index: 100;
}

  .smallXdelete:hover {
    opacity: 1;
    cursor: pointer;
  }

  .invisible {
    display: none;
  }
