
body {
  background-color: #a2baba;
  width: 76vw;
  position: absolute;
  right: 0;
  overflow-x: hidden;
}

#wordList {
    margin-bottom: 15rem;
    margin-right: 1rem;
}

/* Homepage Styles */

.begin-box {
  box-sizing: border-box;
  background-color: #f2efe9;
  border: 3px solid #3D5556;
  width: 24rem;
  margin: 6rem auto 7rem;
  text-align: center;
  padding: 3rem;
}

.begin-title {
  color: #3D5556;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
    font-size: 28px;
    line-height: 37px;
  padding: 0 1rem;
  margin: 0 0 2rem 0;
}

.logged-footer {
  box-sizing: border-box;
  background-color: #3D5556;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 22vw;
  height: auto;
  padding: 1.5rem;
  z-index: 3;
}

.logged-out-footer {
  box-sizing: border-box;
  background-color: #3D5556;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 22vw;
  height: auto;
  padding: 1.5rem;
  padding-top: 2rem;
  z-index: 4;
}

.footers {
  display: block;
  font-size: 21px;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
}

.logged-status {
  color: #f2efe9;
  margin-bottom: 15px;
  font-weight: 300;
}

button.footers.log-out {
    background-color: transparent;
    border: none;
    color: #faead7;
    position: relative;
    left: -7px;
}

button.footers.log-out::after,
.log-in::after {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  top:3px;
  background-color: #778787;
}

button.footers.log-out:hover {
    color: #778787;
    cursor: pointer;
}

.log-out:link {
  color: #EED8AE;
  text-decoration: none;
}

.log-out:hover {
  color: #3D5556;
}

.logged-out-status {
  color: #f2efe9;
  margin-bottom: 5px;
}

.log-in {
  display: inline-block;
  position: relative;
  top: 5px;
  color: #faead7;
  text-decoration: none;
}

.log-in:hover {
  color: #778787;
  cursor: pointer;
}

#big-plus {
  position: fixed;
  left: 1.5rem;
  top: 18rem;
  z-index: 2;
}

#big-plus:hover {
  cursor: pointer;
}

#get-started {
  background-color: #E9E6E1;
  color: #3D5556;
  font-weight: 600;
  border: 2px solid #3D5556;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  padding: 13px 5px 10px;
  transition: background-color .5s ease-in-out;
  border-radius: 5px;
}

#get-started:hover {
  background-color: #BCC5C2;
}

#started {
    position: relative;
    bottom: 8px;
    margin-left: 1rem;
}

#get-started:hover {
  cursor: pointer;
}

#get-started:focus {
  outline: none;
}

/* Word Form Styles */

#get-word-form,
.wordChoices,
.confirmWord {
  position: absolute;
  z-index: 100;
  top: 4rem;
  right: 15rem;
  left: 15rem;
  background-color: #E7DFD2;
  border: 3px solid #3D5556;
  width: fit-content;
  text-align: center;
  padding: 3rem;
  font-size: 23px;
  color: #2B3E3C;
  font-family: 'Roboto', sans-serif;
  display: none;
  margin-bottom: 10rem;
}

input[type="text"] {
    border-radius: 4px;
    border: 1px solid #3D5556;
    width: 17rem;
    height: 2rem;
    font-size: 23px;
    color: #2B3E3C;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
  }

  .error {
    font-weight: 700;
    color: #3D5556;
  }

  #get-word-go {
    display: block;
    background-color: #2B3E3C;
    border: none;
    margin: 3rem auto 0;
    font-family: 'Roboto', sans-serif;
    color: #faead7;
    font-size: 30px;
    width: 5rem;
    height: 3rem;
    font-weight: 400;
    padding-bottom: 3px;
    transition: background-color .2s ease-in-out;
    border-radius: 5px;
  }

  #get-word-go:hover {
    background-color: #3D5556;
    cursor: pointer;
  }

#small-x,
#small-x-choice,
#small-x-confirm {
    position: absolute;
    top: -18px;
    right: -18px;
    opacity: .8;
  }

  #small-x:hover,
  #small-x-choice:hover,
  #small-x-confirm:hover {
    opacity: 1;
    cursor: pointer;
  }

.transWord,
.confirmButton {
  border: 1px solid #3D5556;
  background-color: #f2efe9;
  border-radius: 0;
  font-weight: 500;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  color: #2B3E3C;
  padding: 10px 15px 12px;
    border-radius: 5px;
}

.transWord {
  margin: 5px;
}

.confirmButton {
  display: block;
  margin: 45px auto 0px;
}

.transWord:hover,
.confirmButton:hover {
  cursor: pointer;
  background-color: #3D5556;
  color: #f2efe9;
}

.spanConfirm {
  font-size: 26px;
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
}

/* Login/Register Styles */

.sidebar {
  box-sizing:border-box;
  color: #2B3E3C;
  background-color: #e3e1d8;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 22vw;
  padding: 1rem 1.5rem;
  z-index: 1;
  border-right: 10px solid white;
}

.title {
  font-family: 'Calistoga', cursive;
  font-size: 65px;
  margin: 0;
  line-height: 75px;
}

.login-box {
  background-color: #f2efe9;
  border: 2px solid #3D5556;
  width: 24rem;
  margin: 10rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

#register-form {
  border-color: #3D5556;
}

.login-title {
  color: #f2efe9;
  background-color: #3D5556;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding: 10px;
}

#register-title {
  background-color: #3D5556;
}

.login-form {
  margin: 2rem 3rem 0;
}

.form-input,
.form-input #name {
  box-sizing: border-box;
  display: block;
  margin-bottom: 2rem;
  width: 100% !important;
  height: 2.5rem !important;
  border-radius: 4px;
}

#username-email,
#password,
#name,
#email {
  background-color: #f2efe9;
  border: 2px solid #3D5556;
  padding: 0 10px;
  font-size: 21px;
}

#username-email:focus,
#password:focus,
#name:focus,
#email:focus {
  background-color: white;
  outline: none;
}

#username-email::placeholder,
#password::placeholder,
#name::placeholder,
#email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3D5556;
  opacity: .7; /* Firefox */
}

#username-email:-ms-input-placeholder,
#password:-ms-input-placeholder,
#name::placeholder,
#email::placeholder { /* Internet Explorer 10-11 */
  color: #3D5556;
  opacity: .7;
}

#username-email::-ms-input-placeholder,
#password::-ms-input-placeholder,
#name::placeholder,
#email::placeholder { /* Microsoft Edge */
  color: #3D5556;
  opacity: .7;
}

#login-button {
  border: none;
  color: #f2efe9;
  background-color: #3D5556;
  font-size: 23px;
  margin-bottom: 10px;
}

#register-button {
  border-radius: 4px;
  border: none;
  color: #f2efe9;
  background-color: #3D5556;
  font-size: 23px;
  margin-bottom: 10px;
}

#login-button:hover {
  cursor: pointer;
  background-color: #3D5556;
}

#register-button:hover {
  cursor: pointer;
  background-color: #3D5556;
}

.options {
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
  margin: 16px;
}

.or {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #3D5556;
  margin: 0;
  margin-bottom: 5px;
}

.register {
  color: #778787;
}

.register:hover {
  color: #3D5556;
}

.already {
  color: #3D5556;
}

svg#big-plus-svg:hover {
  opacity: 0.7;
}

/* Word Boxes */

#wordList {
  display: none;
}

.wordset {
  border: 2px solid #3D5556;
  margin: 10px;
  position: relative;
  display: inline-flex;
  padding: 6px 12px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #3D5556;
  background-color: #f2efe9;
  transition: transform 350ms ease-in-out;
}

.wordset:hover {
  cursor: pointer;
}

.smallXdelete {
  position: absolute;
  top: -11px;
  right: -11px;
  opacity: .7;
  z-index: 100;
}

  .smallXdelete:hover {
    opacity: 1;
    cursor: pointer;
  }

  .invisible {
    display: none;
  }

  .flip {
    transform: rotateY(360deg);
  }

  input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: 4px;
    margin-left: 1rem;
}

.english-option, .spanish-option {
  display: inline;
}

  /* Bottom Spanish-English Bar */

  .spanEngChanger {
    width: 80vw;
    height: 55px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #2B3E3C;
  }

  .slider {
  width: 169px;
  height: 38px;
  background-color: #faead7;
  margin: 9px auto;
  border-radius: 25px;
}
.inner-slider {
  margin: auto;
  width: 150px;
  height: 24px;
  background-color: #e6edea;
  border: 2px solid #3D5556;
  border-radius: 25px;
  position: relative;
  top: 5px;
  transition: background-color 500ms ease-in-out;
}

.inner-circle {
  position: relative;
  top: -5px;
  left: -4px;
  background-color: #3D5556;
  border: 2px solid #f2efe9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: left 500ms ease-in-out;
  z-index: 200;
}

.inner-circle:hover {
  cursor: pointer;
}

.slider-text {
  color: #3D5556;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: relative;
  top: -55px;
  left: 44px;
}

.swipe {
  left: 122px;
}

/* Hamburger Menu */

#menu-icon {
  width: 45px;
  height: 50px;
  position: absolute;
  top: -14px;
  right: 14px;
  cursor: pointer;
}

#menu-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #f2efe9;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-icon span:nth-child(1) {
  top: 29px;
}

#menu-icon span:nth-child(2), #menu-icon span:nth-child(3) {
  top: 41px;
}

#menu-icon span:nth-child(4) {
  top: 53px;
}

#menu-icon.openclose span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-icon.openclose span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.openclose span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.openclose span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Settings Menu/Form */

.changeAndDelete {
    box-sizing: border-box;
    background-color: #f2efe9;
    border: 10px solid #2B3E3C;
    padding: 1rem 3rem 2rem 1rem;
    font-size: 23px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #2B3E3C;
    position: absolute;
    right: -550px;
    top: 0;
    width: 35vw;
    height: auto;
    transition: right 500ms ease-in-out;
    margin-bottom: 5rem;
}

.slide {
  right: -25px !important;
}

#accordion h3 {
    box-sizing: border-box;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #2B3E3C;
    cursor: pointer;
    transition: border 200ms ease-in-out;
}

#accordion h3:hover {
  border: 3px solid #3D5556;
  font-weight: 500;
}

#accordion div {
    background-color: #BCC5C2;
    color: #2B3E3C;
    padding: 1rem;
    font-size: 19px;
    font-weight: 500;
}

#accordion input {
  height: 1rem;
  padding: 5px;
  color: #2B3E3C;
  font-size: 19px;
  margin: 10px 0;
  display: block;
  width: 80%;
  font-weight: 200;
}

#accordion button {
  background-color: #2B3E3C;
  border: none;
  margin: 1rem auto 0;
  font-family: 'Roboto', sans-serif;
  color: #faead7;
  font-size: 18px;
  padding: 9px 20px;
  font-weight: 300;
  transition: background-color .2s ease-in-out;
}

#accordion button:hover {
  background-color: #3D5556;
  cursor: pointer;
}

#accordion p {
    margin-top: 0rem;
}


/* Confirming Changes */
.changeConfirmBox {
  position: absolute;
  z-index: 100;
  top: 4rem;
  left: 15rem;
  background-color: #f2efe9;
  border: 3px solid #3D5556;
  width: fit-content;
  text-align: center;
  padding: 3rem;
  font-size: 23px;
  color: #2B3E3C;
  font-family: 'Roboto', sans-serif;
  display: none;
}

.changeConfirmBox button {
  display: block;
  background-color: #2B3E3C;
  border: none;
  margin: 3rem auto 0;
  font-family: 'Roboto', sans-serif;
  color: #faead7;
  font-size: 25px;
  width: 5rem;
  height: 2.5rem;
  font-weight: 400;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}

.changeConfirmBox button:hover {
  background-color: #3D5556;
  cursor: pointer;
}

/* Register Error */

.registerError {
  color: #3D5556;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/* Media Queries */

@media screen and (min-width: 2101px) and (max-width: 2700px) {
  .changeAndDelete {
    right: -875px;
  }
}

@media screen and (min-width: 1545px) and (max-width: 2100px) {
  .changeAndDelete {
    right: -750px;
  }
}

@media screen and  (min-width: 930px) and (max-width: 1305px) {
  #wordList {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1350px) {
  .title {
    font-size: 60px;
  }
  svg#big-plus-svg {
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 1260px) {
  .title {
    font-size: 55px;
    line-height: 65px;
  }
  #big-plus {
    top: 15rem;
  }
  .changeConfirmBox {
    padding: 2.5rem;
    font-size: 20px;
    left: 10rem;
  }
  .changeConfirmBox button {
    font-size: 22px;
    width: 4.5rem;
  }
}

@media screen and (max-width: 1188px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 10rem;
    right: 10rem;
  }
  .sidebar,
  .logged-footer {
    width: 24vw;
  }
}

@media screen and (max-width: 1090px) {
  .title {
    font-size: 45px;
    line-height: 53px;
  }
  #big-plus {
    top: 13rem;
  }
  #big-plus-svg {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1040px) {
  .changeAndDelete {
    width: 45vw;
  }
}

@media screen and (max-width: 1030px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 8rem;
    right: 8rem;
  }
}

@media screen and (max-width: 1000px) {
  .wordset {
    margin: 6px;
    font-size: 20px;
  }
  svg#big-plus-svg {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 930px) {
  .sidebar {
    height: 10rem;
    width: 100vw;
    border-bottom: 5px solid white;
    border-right: none;
  }
  .title {
    font-size: 39px;
    line-height: 41px;
    width: 14rem;
  }
  #big-plus {
    top: 2.5rem;
    left: 14rem;
  }
  .spanEngChanger {
    width: 100vw;
  }
  body {
    width: 100vw;
    right: unset;
    top: 10rem;
  }
  .logged-footer {
    top: 0;
    right: 0;
    left: unset;
    width: auto;
    max-width: 20rem;
    height: 10rem;
  }
  .changeAndDelete {
    top: 0;
    width: 55vw;
  }
  .logged-out-footer {
    width: 100vw;
  }
  .begin-box {
    margin: 3rem auto 7rem;
  }
  .changeConfirmBox {
    top: 2rem;
    left: unset;
    right: 5rem;
    font-size: 19px;
  }
  .transWord {
    font-size: 20px;
  }

user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
#get-word-form, .wordChoices, .confirmWord {
    font-size: 20px;
  }
}

@media screen and (max-width: 830px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 9rem;
    right: 9rem;
  }
}

@media screen and (max-width: 820px) {
  .sidebar {
    height: 10.5rem;
  }
  body {
    top: 10.5rem;
  }
  .logged-footer {
    height: 10.5rem;
  }
  .changeAndDelete {
    width: 75vw;
    right: -650px;
  }
}

@media screen and (max-width: 800px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 8rem;
    right: 8rem;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 45px;
    line-height: 47px;
    width: 16rem;
  }
    #big-plus-svg {
      width: 70px;
      height: 70px;
    }
    .sidebar {
    height: 11rem;
    padding: 1rem 1rem;
  }
  .logged-footer {
    height: 11rem;
  }
  body {
    top: 11rem;
  }
  .logged-footer {
    max-width: 16rem;
  }
  .footers {
    font-size: 19px;
    line-height: 22px;
  }
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 5rem;
    right: 5rem;
  }
}

@media screen and (max-width: 650px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 3rem;
    right: 5rem;
  }
}

@media screen and (max-width: 620px) {
  .logged-footer {
    max-width: none;
    width: 100vw;
    padding: .75rem;
    height: fit-content;
  }
  .logged-status {
    float: left;
    position: relative;
    top: 2px;
    max-width: 11rem;
    margin-bottom: 0;
    margin-left: .5rem;
  }
  button.footers.log-out {
    float: right;
  }
  .footers {
    font-size: 18px;
    line-height: 23px;
  }
  .sidebar {
    height: 10rem;
  }
  #big-plus-svg {
    width: 80px;
    height: 80px;
  }
  #big-plus {
    top: 4.75rem;
    right: 1rem;
    left: unset;
  }
  body {
    top: 4rem;
  }
  .changeAndDelete {
    width: 90vw;
    top: 6rem;
  }
  .title {
    font-size: 26px;
    line-height: 30px;
    width: 9rem;
    position: relative;
    top: 2.75rem;
  }
  .logged-out-footer {
    top: 0;
    bottom: unset;
    padding: 1rem;
    padding-top: 1rem;
  }
  .logged-out-status {
    float: left;
    position: relative;
    top: 2px;
  }
  .log-in {
    float: right;
  }
  .login-box {
    margin: 10rem auto;
  }
  .login-title {
        font-size: 25px;
  }
  #big-plus-svg {
    width: 65px;
    height: 65px;
  }
  #big-plus {
    top: 4rem;
  }
  #get-word-form,
  .wordChoices,
  .confirmWord {
    top: 10rem;
    font-size: 18px;
  }
  #get-word-go {
    margin: 2rem auto 0;
    font-size: 22px;
    width: 4rem;
    height: 2.5rem;
  }
  #wordList {
    position: relative;
    top: 6rem;
  }
  .transWord, .confirmButton {
    font-size: 17px;
  }
  .spanConfirm {
    font-size: 20px;
    font-weight: 400;
  }
  input[type="text"] {
    font-size: 18px;
  }
  .changeConfirmBox {
    top: 8rem;
    right: 3rem;
    font-size: 19px;
    padding: 1.5rem;
  }
  .changeConfirmBox button {
    font-size: 20px;
    width: 3.5rem;
    margin: 2rem auto 0;
  }
}

@media screen and (max-width: 600px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    font-size: 17px;
  }
}

@media screen and (max-width: 550px) {
  .changeConfirmBox {
    font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  .changeAndDelete {
    width: 100vw;
  }
  .wordset {
    font-size: 18px;
    margin: 4px;
  }
  .login-box {
    width: 21rem;
  }
  .login-form {
    margin: 2rem 1rem;
  }
  .begin-box {
    width: 20rem;
    padding: 2rem;
  }
  .begin-title {
    font-size: 28px;
    line-height: 37px;
  }
  #get-started {
    font-size: 23px;
  }
  .sidebar {
    height: 8.5rem;
  }
  .title {
    font-size: 21px;
    line-height: 25px;
    width: 7rem;
    position: relative;
    top: 2rem;
  }
  .logged-footer {
    padding: 7px;
  }
  button.footers.log-out {
    top: -2px;
  }
  #big-plus {
    top: 3.5rem;
  }
  svg#big-plus-svg {
    height: 60px;
    width: 60px;
  }
  body {
    top: 2.5rem;
  }
  .changeConfirmBox {
    right: 3rem;
  }
}

@media screen and (max-width: 490px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 2rem;
  }
}


@media screen and (max-width: 460px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    left: 1rem;
  }
  input[type="text"] {
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    padding: 2rem;
  }
  #accordion h3 {
    font-size: 18px;
  }
  #accordion div {
    font-size: 15px;
  }
  #accordion button {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .login-box {
    width: 85vw;
  }
  .begin-box {
    width: 18rem;
  }
  #get-word-form,
  .wordChoices,
  .confirmWord {
    padding: 1rem;
    font-size: 15px;
  }
  #accordion h3 {
    font-size: 16px;
  }
  input[type="text"] {
    font-size: 16px;
    height: 1.5rem;
  }
  #accordion div {
    padding: 10px;
  }
  .changeConfirmBox {
    right: 2rem;
  }
  .english-option, .spanish-option {
    display: block;
    float: left;
    clear: both;
  }
}

@media screen and (max-width: 340px) {
  #get-word-form,
  .wordChoices,
  .confirmWord {
    font-size: 18px;
  }
}
